<form [formGroup]="forminput" (ngSubmit)="addUser()" class="form-container">
    <div class="form-floating">
        <input type="text" class="form-control" id="firstName" placeholder="First Name" formControlName="firstName">
        <label for="firstName">First Name</label>
        <div class="alert alert-danger" *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)">
            <div *ngIf="firstName.errors!['required']"> FirstName is required !</div>
            <div *ngIf="firstName.errors!['minlength']"> FirstName must be at least 3 characters !</div>
        </div>    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="lastName" placeholder="Last Name" formControlName="lastName">
        <label for="lastName">Last Name</label>

    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@esprit.tn" formControlName="email">
        <label for="email">Email address</label>
    </div>

    <div class="form-floating">
        <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        <label for="password">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="date" class="form-control" id="birthDate" placeholder="Birth Date" formControlName="birthDate">
        <label for="birthDate">BirthDate</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="profession" placeholder="Profession" formControlName="profession">
        <label for="profession">Profession</label>
    </div>

    <div class="form-floating">
        <input type="text" class="form-control" id="accountCategory" placeholder="Customer" formControlName="accountCategory">
        <label for="accountCategory">Customer Category</label>
    </div>
 
    <button type="submit" class="submit-button" [disabled]="forminput.invalid" >Save</button>
</form>
